
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        4.3 Work
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --purple: #5722CD;
    --blue: #4845E4;
    --pink: #ED4385;
    --black: #0C0C0C;
    --purple-light: #F2F0FF; /*    floating text*/
    --grey: #A7A7A; /*    service tile text*/
    --grey-light: #F3F6F9 /*    projects background*/

}
/* ------------------------------- 2. Typography ---------------------------*/
html {
    font-size: 16px;
    font-family: "Roboto", serif;
    font-weight: 300;
}

h1 {
    font-family: "Merriweather", serif;
    font-weight: 400;
    text-align: center;
    font-size: 2.488rem;
}

.introduction-content h2{
    font-family: "Merriweather", serif;
    text-align: center;
    font-weight: 500;
    color: var(--purple);
}

h3 {
    font-family: "Merriweather", serif;
    font-size: 2.074rem;
    font-weight: 400;
}

header {
    color: white;
}

.header-subtext {
    font-size: 1.2rem;
    text-align: center;
}

.header-button{
    font-weight: 100;
    font-size: 0.694rem;
    letter-spacing: 1px;
}

.introduction p{
    font-weight: 400;
    text-align: center;
}

.introduction a{
    color: var(--purple);
    text-decoration: none;

}

.articles p {
    font-weight: 400;
}

.project-link{
    color: var(--purple);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.833rem;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}


/* --------------- 3.2 Other --------------------------- */
.dev {
    border: black solid 2px;
}
/* ------------------------------- 4. Areas ---------------------------------------- */
main {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

/* --------------- 4.1 Header ------------------------- */
header {
    background: linear-gradient(320deg, rgba(87,34,205,1) 0%, rgba(72,69,228,1) 55%);
    /*padding-bottom: 200px;*/

}

.navigation-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 320px;
    list-style: none;
    flex-wrap: wrap;
    row-gap: 20px;
    padding-top: 20px;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
    align-items: center;
    /*padding-top: 50px;*/
    /*height: 400px;*/
    /*border: pink solid 2px;*/
    /*height: 400px;*/
}

.header-icon-container {
    flex-basis: auto;
}
.header-content {
    /*flex-basis: 800px;*/
    /*height: 300px;*/
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 25px;
    padding: 40px;

}
.header-button {
    width: 200px;
    padding: 18px;
    background-color: var(--pink);
    /*border-color: var(--pink);*/
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    border-style: none;
    color: white;
    text-transform: uppercase;
}

.header-icon-wrapper {
    height: 80px;
}

.header-icon {
    height: 100%;
}

button:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
/* --------------- 4.2 Introduction ------------------- */

.introduction {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 40px;
    padding: 40px 0 40px 0;
}

.introduction-content {
    width: 70%;
    padding:40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
}
/* --------------- 4.3 Work ------------------- */

.articles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 80px;
    background-color: var(--grey-light);
    padding: 80px 0 80px 0;
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article:nth-child(odd) {
    flex-direction: row-reverse;
}

.article-content {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 20px;
    padding: 60px;
}

.article-icon-wrapper {
    width: 40px;
}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}
.image-wrapper img {
    width: 100%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}
/* ------------------------------- 5. Media Queries -------------------------------- */